.cart {
  background-image: url("svg/cart.svg");
}
.home {
  background-image: url("svg/home.svg");
}
.instagram {
  background-image: url("svg/instagram.svg");
}
.nav-arrow-up {
  background-image: url("svg/nav-arrow-up.svg");
}
.search {
  background-image: url("svg/search.svg");
}
.tiktok {
  background-image: url("svg/tiktok.svg");
}
.x {
  background-image: url("svg/x.svg");
}
